.octo-card-profile {
  --octo-card-color-surface: #ffffff;
  --octo-card-color-surface-subtle: #f7f8f9;
  --octo-card-color-surface-accent: #f3eeff;
  --octo-card-color-text-primary: #1f2329;
  --octo-card-color-text-secondary: #6b7075;
  --octo-card-color-accent: #7f3bf5;
  --octo-card-color-good: #41cd59;
  --octo-card-color-warning: #fc8800;
  --octo-card-color-attention: #f54a45;
  --octo-card-color-border-subtle: #eeeeee;
  --octo-card-radius-card: 8px;
  --octo-card-radius-container: 6px;
}
